extends header 
block content
  head
    - var username = username;
  div.content
    div.left
      div.post
        div(id="book").book__review
        div.review__content
          div(id="review")
          div(id="comment")
            h3 Commentaris
            form(method="post" action="/review/comment/new")
              div.buttonReview
                textArea(name="comment").inputReview__textarea
                input(type="hidden", name="username", value=username)
                input(type="hidden", name="reviewId", id="revId")
                input(type="submit", value="Comment").inputReview__new
          div(id="comments").comment
    div.right
      div.genere
        form(action="/filter/byGenres" method="POST") 
            - for (n = 0; n < listOfGenres.length; n++) {
                label.checklist
                    input(type="checkbox" name="genre" id=listOfGenres[n].name value=listOfGenres[n].name) 
                    span.checkbox__text #{listOfGenres[n].name}
            - }
            input(type="submit" value="Buscar")
    if (username != undefined) 
        form(method="get" action="/review/add")
            button(type="submit").newReview Crea tu reseña



  script.
    async function getNumOfLikes(revId) {
      const numOflikesfetch = await fetch("/review/numberOflikes/" + revId,
      {
      method: 'GET',
      headers: {
          'Content-Type': 'application/json'
      }});
      const numOfLikesNumber = await numOflikesfetch.json();
      return numOfLikesNumber.number;
    }
    
    async function createPage() {
      let bookText = !{JSON.stringify(theBook)};
      let divBook = document.getElementById("book");
      //- console.log(bookText);
      //- const book = document.createElement("p");
      //- const booktextNode = document.createTextNode(JSON.stringify(bookText));
      //- book.appendChild(booktextNode);

      const bookTitle = document.createElement("h4");
      bookTitle.innerHTML = bookText.bookName;

      const bookScore = document.createElement("p");
      bookScore.innerHTML = bookText.averageReviewScore + " / 5";

      const bookWriter = document.createElement("p");
      bookWriter.innerHTML = "Escritor: " + bookText.author[0].completeName;

      const bookGenre = document.createElement("p");
      bookGenre.innerHTML = "Genero: " + bookText.genre[0].name;

      divBook.appendChild(bookTitle);
      divBook.appendChild(bookWriter);
      divBook.appendChild(bookGenre);
      divBook.appendChild(bookScore);


      let reviewText = !{JSON.stringify(theReview)};
      let divReview = document.getElementById("review");

      //- const review = document.createElement("p");
      //- const reviewtextNode = document.createTextNode(JSON.stringify(reviewText));
      //- review.appendChild(reviewtextNode);
      //- divReview.appendChild(review);

      const div1 = document.createElement("div");
      div1.classList.add("div1");

      const reviewTitle = document.createElement("h4");
      reviewTitle.innerHTML = reviewText.reviewTitle;

      const reviewScore = document.createElement("p");
      reviewScore.innerHTML = reviewText.reviewScore + " / 5";

      div1.appendChild(reviewTitle);
      div1.appendChild(reviewScore);

      const bookImage = document.createElement("img");
      bookImage.src = reviewText.bookImage;

      const nameUser = document.createElement("h6");
      nameUser.innerHTML = reviewText.username;

      const div2 = document.createElement("div");
      div2.classList.add("div2");

      const reviewContent = document.createElement("p");
      reviewContent.innerHTML = "Opinión: " + reviewText.reviewText;

      const numberOfLikes = document.createElement("p");
      numberOfLikes.id = "numlikes";
      numberOfLikes.innerHTML = await getNumOfLikes(reviewText._id);

      const likeBtn = document.createElement("button");
      likeBtn.innerHTML = "Like";
      likeBtn.addEventListener("click", function(e) {
        window.location.href = "/review/like/"+reviewText._id;
      });

      const div3 = document.createElement("div");
      div3.classList.add("div3");
      div3.appendChild(likeBtn);

      div2.appendChild(reviewContent);
      div2.appendChild(numberOfLikes);

      divReview.appendChild(div1);
      if (reviewText.bookImage != "" && reviewText.bookImage != " " && reviewText.bookImage != null) {
        divReview.appendChild(bookImage);
      }

      if (nameUser != undefined) {
        divReview.appendChild(nameUser);
      }

      divReview.appendChild(div2);
      divReview.appendChild(div3);

      document.getElementById("revId").value = reviewText._id;
    }
    async function getAllComments() {
      //reben comentaris fa falta ficar bonic i output al div de comentaris
      let comments = !{JSON.stringify(comments)};
      let divComments = document.getElementById("comments");
      console.log(comments);

      comments.forEach(async element => {
        const diveachCommentsByOneUser = document.createElement("div");
        let pUsername = document.createElement("p");

        const fetchUsername = await fetch("/user/getUsername/" + element.userid, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
        }});
        const username = await fetchUsername.json();

        pUsername.innerHTML = username;
        element.comments.forEach(async commentary => {
          const divAComment = document.createElement("div");
          let timeStamp = document.createElement("p");

          let dateFormatDate = new Date (commentary.timeStamp);
          console.log(dateFormatDate);
          timeStamp.innerHTML = dateFormatDate.getUTCDate() + "/" + (dateFormatDate.getMonth() + 1) + "/" + dateFormatDate.getFullYear()  + "  " + dateFormatDate.getHours() + ":" + dateFormatDate.getMinutes();
          let commentBody = document.createElement("p");
          commentBody.innerHTML = commentary.commentText;
          divAComment.appendChild(pUsername);
          divAComment.appendChild(timeStamp);
          divAComment.appendChild(commentBody);

          const likeBtn = document.createElement("button");
          likeBtn.innerHTML = "Like";
          likeBtn.addEventListener("click", function(e) {
            window.location.href = "/review/comment/like/"+element._id+"/"+commentary._id;
          });
          divAComment.appendChild(likeBtn);

          const numOfLikesNumber = commentary.likes.length;
          let numOfLikeComment = document.createElement("p");
          numOfLikeComment.innerHTML = numOfLikesNumber;
          divAComment.appendChild(numOfLikeComment);


          diveachCommentsByOneUser.appendChild(divAComment);
        });
        divComments.appendChild(diveachCommentsByOneUser);
      });
    }
    createPage();
    getAllComments();
    

    